.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.board{
    width: 500px;
    height: 500px;
    display: grid;
    border: solid black;
}

